body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(https://fondosmil.com/fondo/65806.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    color: seashell;
}

header{
    text-align: center;
    align-items: baseline;
}

form {
    background-color: rgba(41, 40, 51, 0.9);
    text-align: center;
    padding: 2.5rem 0.625rem;
  